div{ background-color: red;
    display: inline-block;
    width: 600px;
    margin-left: calc( 50% - 300px);
    height: 500px;


}
    
    h1 {

    }

    p { text-transform: capitalize;
        text-decoration: underline;
        font-style: italic;
        
    }